<!--<h2>Admin view of history</h2>

<br>
<table>
    <thead>
        <tr>REQUESTED BY</tr>
        <tr>DEVICE NAME</tr>
        <tr>QUANTITY</tr>
        <tr>STATUS</tr>

    </thead>
    <tbody>
        <tr ng-repeat =  "request in data | filter:{ requested_by : search  }">
            <td>{{ request.device_name }}</td>
            <td>{{ request.requested_by }}</td>
            <td>{{ request.quantity }}</td>
            <td>{{ request.request_status }}</td>
        </tr>
    </tbody>

</table>-->
<div class="newrequestone row">
  <a class="waves-effect waves-light btn" ng-click="statechange('admin_newrequest')">Back</a><!--go to request page-->
  
</div>
<div class="row historyone">
  <div class="col s12 m11">
    <div class="card transparent">          
	<table class="centered highlight bordered responsive-table">
    <thead style="background-color:lightblue;">
		<th data-field="name">DEVICE NAME</th>
		<th data-field="name">REQUESTED BY</th>
        <th data-field="price">QUANTITY</th>
        <th data-field="name">STATUS</th>
    </thead>
    <tbody>
        <tr ng-repeat =  "request in data | filter:{ requested_by : search  }">
            <td>{{ request.device_name }}</td>
            <td>{{ request.requested_by }}</td>
            <td>{{ request.quantity }}</td>
            <td>{{ request.request_status }}</td>
		</tr>
    </tbody>
	</table>
	</div>
  </div>
</div>
