<!--<p>{{ name }}</p>

<button ng-click="changestate1()">Make a request</button>

<button ng-click="changestate2()">history</button>-->
<div class="adminthree">
<a class="waves-effect waves-light btn" ng-click="logout()">LogOut</a>
</div>
<div class="row frontone">
<div class="col s10 m8 offset-m7 26 offset-l2 ">
        <div class="card-panel transparent z-depth-3">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="aa.jpg" class="circle responsive-img">
            </div>
             <div class="col s10 m7">
              <span class="blue-text">
                <h2>WELCOME LAB ASSISTANT</h2>
              </span>
             </div>
          </div>
        </div>
</div>
</div>

<a class="adminone waves-effect waves-light btn" ng-click="statechange('replacement')">Make a request</a>
<a class="admintwo waves-effect waves-light btn" ng-click="statechange('labassist_history')">History</a>
